* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 65.3%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  z-index: 2;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  position: fixed;
  color: #fff;
  left: 0;
  background: lightblue;
  position: relative;
}

header .menu {
  font-size: 2.6rem;
  position: fixed;
  right: 4rem;
  display: none;
}

header .logo img {
  height: 5rem;
}

header nav {
  width: 70rem;
}

header nav ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav li a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

header nav li a:hover {
  background: #fff;
  color: black;
}

#home {
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/mushroom.webp");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/mushroom.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#home .image .image-1 {
  width: 50vw;
}

#home .content {
  padding: 2rem;
  margin-top: 4rem;
}

#home .content h1 {
  font-size: 4rem;
  margin: 2rem 0;
}

#home .content p {
  font-size: 2rem;
  text-align: justify;
}

#home .content button {
  height: 4rem;
  width: 18rem;
  background: blue;
  color: #fff;
  letter-spacing: .3rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: bolder;
  margin: 2rem 0;
}

#home .content button:hover {
  opacity: 0.5;
}

#service {
  height: auto;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
}

#service h1 {
  font-style: 4rem;
  margin: 1rem 0;
  color: black;
}

#service .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90vw;
}

#service .box-container .box {
  height: 25rem;
  width: 30rem;
  background: blue;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 2rem;
  cursor: pointer;
}

#service .box-container .box:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 2rem #000;
          box-shadow: 0 0 2rem #000;
}

#service .box-container .box img {
  height: 7rem;
}

#service .box-container .box p {
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.gallery {
  width: 100vw;
  height: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.gallery h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

.gallery .image-container {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .image-container .image {
  width: 30rem;
  height: 25rem;
  margin: 2rem;
  cursor: pointer;
  position: relative;
}

.gallery .image-container .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery .image-container .image .search-icon {
  width: 100%;
  height: 100%;
  background: blue;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.gallery .image-container .image .search-icon a {
  text-decoration: none;
  color: #fff;
  font-size: 4rem;
}

.gallery .image-container .image:hover > .search-icon {
  opacity: .8;
}

#testimonial {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#testimonial h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

#testimonial .box-container {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#testimonial .box-container .box {
  width: 40rem;
  height: 25rem;
  margin: 2rem;
  background: blue;
  color: #fff;
  padding: 2rem;
  margin: 2rem;
}

#testimonial .box-container .box p {
  font-size: 1.3rem;
  margin-top: 2rem;
  text-align: justify;
}

#testimonial .box-container .box p i {
  font-size: 2rem;
  padding: .3rem;
}

#testimonial .box-container .box h1 {
  text-align: end;
  color: #fff;
  margin-top: 2rem;
  font-size: 2rem;
}

#testimonial .box-container .box h1 span {
  font-size: 1rem;
}

#footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: black;
  width: 100vw;
}

#footer h1 {
  color: #ccc;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
}

#footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90vw;
  text-align: center;
}

#footer .footer-container .follow {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25rem;
          flex: 1 0 25rem;
}

#footer .footer-container .follow img {
  width: 15rem;
}

#footer .footer-container .follow ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .footer-container .follow ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2rem;
  margin-top: 1rem;
}

#footer .footer-container .follow .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25rem;
          flex: 1 0 25rem;
}

#footer .footer-container .follow .info a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  margin: 2rem 0;
}

#footer .footer-container .follow .info a::after {
  content: att(data-text);
  font-family: 'Exo 2', sans-serif;
  margin: 0 1rem;
  font-size: 1.5rem;
}

#footer .footer-container h1 {
  color: #fff;
  margin: 1rem 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 53%;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu {
    position: fixed;
    cursor: pointer;
    display: block;
    z-index: 4;
  }
  header .menu .fa-times {
    color: #000;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  header nav {
    background: #ccbd3d;
    position: fixed;
    height: 100%;
    width: 70vw;
    top: 0;
    right: -200%;
    -webkit-box-shadow: -20rem 0 0 10rem rgba(0, 0, 0, 0.5);
            box-shadow: -20rem 0 0 10rem rgba(0, 0, 0, 0.5);
  }
  header nav ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  header nav ul li a {
    color: #000;
  }
  .nav-toggle {
    right: 0;
  }
  #home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .content {
    text-align: center;
  }
  #home .image img {
    display: none;
  }
  #testimonial {
    height: auto;
  }
  #testimonial .box-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #testimonial .box-container .box {
    width: 30rem;
    height: 25rem;
  }
}
/*# sourceMappingURL=style.css.map */